name: Kriteria 3

on:
  push:
    branches:
      - main
      - test

jobs:
 build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12.7'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run MLflow Project
        working-directory: kriteria3/
        run: |
          python modelling.py

      - name: Upload MLflow artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mlflow-artifacts
          path: kriteria3/mlruns

      - name: Get Latest MLflow Run
        working-directory: kriteria3/
        run: |
          mlflow runs list --experiment-id 1 --limit 1

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      

      - name: Build Docker image
        working-directory: kriteria3/
        run: |
          docker build -t itsam77/msmlclone:kriteria3 .

      - name: Push Docker image
        working-directory: kriteria3/
        run: |
          docker push itsam77/msmlclone:kriteria3
