name: Kriteria 3

on:
  push:
    branches:
      - main
      - test

jobs:
 build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12.7'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Train / log model with MLflow
        working-directory: kriteria3/
        run: |
          python modelling.py

      - name: Build model serving image with MLflow (no Dockerfile)
        working-directory: kriteria3/
        run: |
          # find the first MLmodel produced in mlruns and use its folder as a local model URI
          MODEL_PATH=$(dirname "$(find mlruns -name MLmodel | head -n 1)")
          echo "Using model at: $MODEL_PATH"
          mlflow models build-docker -m "$MODEL_PATH" -n itsam77/msmlclone:kriteria3 --enable-mlserver

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Docker image
        run: |
          docker push itsam77/msmlclone:kriteria3